<div class="verify-token">
  <h3>Update Password</h3>
  <p *ngIf=this.message class="alert alert-danger">{{ this.message }}</p>
  <div class="form-group">
    <input [(ngModel)]="email" type="email" placeholder="Enter Email" required />
    <input [(ngModel)]="token" type="text" placeholder="Enter Token" required/>
  </div>
  <div class="form-group">
    <input [(ngModel)]="newPassword" type="password" placeholder="Password" required />
    <input [(ngModel)]="confirmPassword" type="password" placeholder="Confirm Password" required/>
  </div>
  <button (click)="updatePassword()" class="btn btn-primary btn-update">Update Password</button>
  <button routerLink='/reset' class="btn btn-primary btn-update">Back</button>
</div>