
<div class="container">

    <div class="header">
      <h1 class="title">Pokebook</h1>
    </div>
  
    <div class="user-info">
      <img src="{{ viewTrainer.profilePhoto }}" alt="" height="150" width="150" class="profile-img" />
      <p>
        {{ viewTrainer.firstName }} {{ viewTrainer.lastName }}<br />
        {{ viewTrainer.email }}<br />
        {{ viewTrainer.username }}<br />
      </p>
    </div>
    
  
    
    <div class="main">
 
   
      <app-post></app-post>
   
    </div> <!-- end .main -->
  
  </div> <!-- end .container -->
  