
<div class="container">

    <div class="header">
      <h1 class="title">Pokebook</h1>
    </div>

   <!-- </ng-template>-->
    <div class="user-info">
   
    <img *ngIf="viewTrainer.profilePictureUrl" src="{{ viewTrainer.profilePictureUrl }}" alt="" height="150" width="150" class="profile-img" />
    
     <img *ngIf="!viewTrainer.profilePictureUrl" src="https://www.atomix.com.au/media/2015/06/atomix_user31.png" alt="" height="150" width="150" class="profile-img" />
      
      <p *ngIf="viewTrainer">
        {{ viewTrainer.firstName }} {{ viewTrainer.lastName }}<br />
        {{ viewTrainer.email }}<br />
        {{ viewTrainer.url }}<br />
      </p>
    </div>
    
  
    
    <div class="post-container">
 
        <div class="view-posts">
            <h2>POSTS</h2>
            <ul>
              <li *ngFor="let post of posts" class="post">
          
                <img *ngIf=post.creator.profilePictureURL src="{{post.creator.profilePictureUrl}}" height="60" width="60" class="profile-thumbnail" />
                <img *ngIf=!post.creator.profilePictureURL src="https://www.atomix.com.au/media/2015/06/atomix_user31.png" height="60" width="60" class="profile-thumbnail" />
                <p class="post-time">{{post.added}}</p>
                <p class="post-desc">{{post.text}}</p>
                <a (click)="likePost(post)" class="btn btn-link btn-like">Like {{post.likedBy.length}}</a>
                <ul>
                    <li *ngFor="let photo of post.postPhotos">
                        <img src="{{photo.url}}" />
                    </li>
                </ul>
              </li>
            </ul>
          </div>
      
   
    </div> <!-- end .main -->
  
  </div> <!-- end .container -->
  