.post-container {
    float: left;
}

.container {
    width: 100% !important;
    clear: both;
    overflow: hidden;
}

.edit-user, .search {
    margin-bottom: 70px;
}

.btn-edit, .btn-upload {
    color: #007bff !important;
    padding: 2px 0;
}

.containIm {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .containIm img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .containIm .inp {
    position: absolute;
    bottom: 0%;
    padding: 5px, 0, 5px,0
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 12px 24px; */
  }
  
  .container .inp:hover {
    background-color: rgba(61, 61, 61, 0.8);
  }

.btn-upload {
    margin-top: -7px;
}

.nav { 
    float: right; 
}

.nav a {
    margin-left: 40px;
}

.title { 
    float: left;
}

.main {
    padding: 0px 50px;
    border-radius: 10px;
}

.user-info {
    clear: both;
    float: left;
    width: 30%;
}

.profile-img {
    display: block;
    border: 1px solid #ccc;
    border-radius: 80px;
    margin-bottom: 10px;
}

.view-posts {
    margin-top: 40px;
}

.create-post {
    margin-bottom: 70px;
}

.create-post textarea {
    border-radius: 5px;
    border: 1px solid #ccc;
}

.post {
    margin-bottom: 60px;
    margin-top: -60px;
}

.post-desc {
    border-radius: 10px;
    width: 414px;
}

.post-time {
    color: rgb(158, 158, 158);
    text-transform: uppercase;
    font-size: 14px;
}

.btn-like {
    color: #007bff !important;
    margin-left: -12px;
    margin-top: -20px;
}

ul {
    padding: 0;
    list-style-type: none;
}

.profile-thumbnail {
    border-radius: 80px;
    border: 1px solid #ccc;
    position: relative;
    left: -90px;
    bottom: -65px;
}