<div class="container">

  <div class="header">
    <h1 class="title">Pokebook</h1>
    <nav class="nav">
      <a [routerLink]="['/login']">Logout</a>
    </nav>
  </div>

  <div class="user-info">
    <img src="{{ currentTrainer.profilePictureUrl }}" height="150" width="150" class="profile-img" />
    <p>
      {{ currentTrainer.firstName }} {{ currentTrainer.lastName }}<br />
      {{ currentTrainer.email }}<br />
      {{ currentTrainer.url }}<br />
      <a (click)="toggleEdit()" class="btn btn-link btn-edit">Edit</a><br />
      <!-- <a class="btn btn-link btn-upload">Upload Photo</a> -->
    </p>
  </div>

  <div class="main">
    <div *ngIf=isEdit class="edit-user">
      <h2>EDIT PROFILE</h2>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input #firstName type="text" class="form-control" id="firstName" placeholder="First name">
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input #lastName type="text" class="form-control" id="lastName" placeholder="Last name">
      </div>
      <div class="form-group">
        <label for="username">Profile url</label>
        <input #username type="text" class="form-control" id="url" placeholder="Profile url">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input #email type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <button (click)="editUser(firstName.value, lastName.value, username.value, email.value); toggleEdit();" class="btn btn-primary btn-submit">Submit</button>
    </div> <!-- end .edit-user -->

    <input class="form-control search" type="text" placeholder="Search users">
    <app-post></app-post>
  </div> <!-- end .main -->

</div> <!-- end .container -->
