.view-posts {
    margin-top: 40px;
}

.post {
    margin-bottom: 60px;
    margin-top: -60px;
}

.post-desc {
    border-radius: 10px;
    width: 414px;
}

.post-time {
    color: rgb(158, 158, 158);
    text-transform: uppercase;
    font-size: 14px;
}

.btn-like {
    color: #007bff !important;
    margin-left: -12px;
    margin-top: -20px;
}

ul {
    padding: 0;
    list-style-type: none;
}

.profile-thumbnail {
    border-radius: 80px;
    border: 1px solid #ccc;
    position: relative;
    left: -90px;
    bottom: -65px;
}