<div class="login-page">

  <div class="login-form">
    <h2>Login</h2>
    <form #f="ngForm" (ngSubmit)="f.form.valid && login(f)">
      <input type="email" name="email" placeholder="Email" ngModel required /><br />
      <input type="password" name="password" placeholder="Password" ngModel required />
      <a routerLink="/reset" class="btn btn-link btn-reset" >Forgot Password</a>

      <button [disabled]=this.loading class="btn btn-primary">
          <ng-container *ngIf="loading">
              <i class="fa fa-spinner fa-spin" style="font-size:18px"></i>
              &nbsp;
          </ng-container>
        Login
      </button>

      <a routerLink="/register" class="btn btn-link btn-register">Register</a>
    </form>
  </div>

</div>