<div class="register-user">
  <h2>Register</h2>
  <p *ngIf=this.message class="alert alert-danger">{{ this.message }}</p>
  <div class="form-group">
    <input #firstName required type="text" class="form-control" id="firstName" placeholder="First name">
  </div>
  <div class="form-group">
    <input #lastName required type="text" class="form-control" id="lastName" placeholder="Last name">
  </div>
  <p *ngIf=!this.validEmail class="alert alert-danger">Invalid email</p>
  <div class="form-group">
    <input #email required (blur)="validateEmail(email.value)" type="email" class="form-control" id="email" placeholder="Email">
  </div>
  <div class="form-group">
    <input #password required type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <button [disabled]=this.loading (click)="registerUser(firstName.value, lastName.value, email.value, password.value)" class="btn btn-primary btn-edit">
      <ng-container *ngIf="loading">
          <i class="fa fa-spinner fa-spin" style="font-size:18px"></i>
          &nbsp;
      </ng-container>
    Register
  </button>
</div>

